
* {
    box-sizing: border-box;
  }
  
.responsive {
padding: 0 6px;
float: left;
width: 33.33333%;
}

@media (max-width: 800px){
.responsive {
    width: 49.99999%;
    margin: 6px 0;
}
}  



.clearfix:after {
content: "";
display: table;
clear: both;
}

.section {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.sec1 {
    flex-basis: 65%;
}

.sec2 {
    flex-basis: 33%;
}

.host {
    background: #191f29;
    padding: 30px 40px 220px;
    color: #fff;
}

.host-img {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    background-color: blanchedalmond;
    margin-top: 12em;
}

.pin {
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    bottom: 150px;
    left: 40px;
}

.pin img {
    width: 20px;
    height: 30px;
    margin: 20px 10px;
    cursor: pointer;
}

.guest {
    background: #41454c;
    padding: 30px 40px 240px;
    color: #fff;
}

.guest_block {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
} 

.each_guest {
    background: rgb(34, 40, 46);
    padding: 15px 20px 18px;
    align-items: center;
}

.guest-img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}