
* {
    box-sizing: border-box;
  }
  
.responsive {
padding: 0 6px;
float: left;
width: 33.33333%;
}

@media (max-width: 800px){
.responsive {
    width: 49.99999%;
    margin: 6px 0;
}
}  



.clearfix:after {
content: "";
display: table;
clear: both;
}

.section {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.sec1 {
    flex-basis: 60%;
}

.sec2 {
    flex-basis: 35%;
}

.host-img {
    height: 30em;
    width: 30em;
    border-radius: 50%;
}

.guest-img {
    height: 15em;
    width: 15em;
    border-radius: 50%;
}