
* {
    box-sizing: border-box;
  }

.container {
    background: black;
}

.clearfix:after {
content: "";
display: table;
clear: both;
}

.section {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sec1 {
    flex-basis: 74%;
}

.sec2 {
    flex-basis: 26%;
}

.host {
    background: rgba(128, 108, 108, 0.405);
    padding: 2.7% 40% 27.3%;
    color: #fff;
}

.host-img {
    height: 57.5%;
    width: 57.5%;
    border-radius: 50%;
    background-color: blanchedalmond;
    margin-top: 86.5%;
    position: relative;
}

.hover_pic {
    position: absolute;
    top: 275px;
    left: 505px;
    border-radius: 25%;
    opacity: 0;
}

.pin {
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    bottom: 15px;
    left: 25px;
}

.pin img {
    width: 20px;
    height: 30px;
    margin: 20px 10px;
    cursor: pointer;
}

.guest {
    background: #41454c;
    padding: 30px 40px 14px;
    color: #fff;
}

.guest_block {
    width: auto;
    display: flex;
    justify-content: space-around;
    margin-left: 1em;
    flex-flow: row wrap;
    grid-gap: 20px;
}

.mute {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 1em;
    height: 1.5em;
}

.each_guest {
    background: rgb(34, 40, 46);
    padding: 18px 20px 15px;
    position: relative;
    border-radius: 5%;
    justify-content: center;
}

#odd_guest {
    background: rgb(34, 40, 46);
    padding: 15px 20px 15px;
    position: relative;
    border-radius: 5%;
    width: 75%;
    justify-content: center;
}

.guest-img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    cursor: pointer;
}

#odd-guest-img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    margin-top: 20px;
}

.hover_pic_guest {
    position: absolute;
    width: 5em;
    top: 55px;
    left: 30px;
    border-radius: 25%;
    opacity: 0;
}

#hover_pic_odd {
    width: 5em;
    top: 75px;
    left: 72px;
    border-radius: 25%;
    opacity: 0;
}


.hover_pic:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

.host-img:hover + .hover_pic {
    opacity: 0.6;
    transition-duration: 0.3s;
}

.hover_pic_guest:hover {
    opacity: 1;
    transition-duration: 0.5s;
}


.guest-img:hover + .hover_pic_guest {
    opacity: 0.6;
    transition-duration: 0.3s;
}

#hover_pic_odd:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

#odd-guest-img:hover + #hover_pic_odd {
    opacity: 0.6;
    transition-duration: 0.3s;
}

.footer {
    display: flex;
    margin-left: 1.5em;
    align-items: center;
    justify-content: space-between;
}

.mid_footer {
    display: flex;
    align-items: center;
}

.right_footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botton {
    display: grid;
    align-items: flex-end;
}

.tooltiptext {
    color: aliceblue;
    margin: 10px;
    font-size: x-small;
    visibility: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#currenttime {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.bottons_img {
    width: auto;
    height: 2em;
    border-radius: 50%;
    margin: 10px;
}

.bottons_img:hover ~ .tooltiptext {
    visibility: visible;
}

@media only screen and (max-width: 1500px) {
    .section {
        display: inline;
    }
    .sec1 {
        flex-basis: 85%;
    }
    .sec2 {
        flex-basis: 15%;
    }
    .guest_block {
        display: flex;
    }
    .each_guest {
        margin-left: auto;
        width: auto;
    }
}